# Virtual environment
.venv/
venv/
ENV/
env/

# macOS
.DS_Store

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Logs and databases
*.log
*.sqlite3

# IDEs and editors
.vscode/
.idea/

# Byte-compiled / optimized / DLL files
*.so
*.dylib

# Environment variables
.env
